.services__main{
    min-height: 100svh;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background: var(--color-black);
    padding: 5rem 8vw;
}

.services__title{
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 3rem 0;
}

.services__title h2{
    font-family: var(--font-title);
    color: var(--color-white);
    font-size: clamp(4rem, 0.7273rem + 3.6364vw, 4.5rem);
    font-weight: 700;
}

.services__title h2 span{
    color: var(--color-yellow);
}

.cards__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
    width: 100%;
    justify-content: center;
    margin: 3rem 0;
}


/*codigo adaptable para dispositivos mobiles*/
@media only screen and (max-width:1023px){

    .services__main{
        padding: 0 6vw;
    }
    
    .services__title h2{
        font-size: 3.5rem;
    }

    .cards__container{
        width: 100%;
        grid-template-columns: 1fr;
        margin-top: 1rem;
    }
}

@media only screen and (max-width:768px){
    
    .services__main{
        padding: 0 3vw;
    }

    .services__title{
        justify-content: flex-start;
    }
    .services__title h2{
        font-size: 2.5rem;
    }
}

@media only screen and (max-width:480px){

    .services__title h2{
        font-size: 2rem;
    }
}