@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  /*FUENTES*/
  --font-title: "League Spartan", sans-serif;
  --font-text: "Montserrat", sans-serif;

  /*COLORES*/
  --color-black: #010102; 
  --color-white : #F5F8FF;
  --color-grey: #6E6E70;
  --color-orange: #ff5e00;
  --color-yellow: #fed400;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--color-white);
  text-decoration: none;
}

body{
  background: var(--color-black);
}

